<!-- Menú lateral -->
<div class="sidebar">
    <h2>Menú</h2>
    <a routerLink="/home">Home</a>
    <a routerLink="/encriptar">Encriptar</a>
    <a routerLink="/desencriptar">Desencriptar</a>
    <a href="#">Cerrar sesión</a>
</div>

<!-- Contenido -->
<div class="content">

    <!-- Ingresar texto -->
    <label for="texto">Ingresar texto</label>
    <input id="texto" type="text" placeholder="Escribe aquí...">

    <!-- Botón Encriptar -->
    <button id="btn-encriptar">Encriptar</button>

    <!-- Key 
    <label for="key">Key</label>
    <input id="key" type="text" placeholder="La clave aparecerá aquí..." readonly>
    -->

    <!-- Texto encriptado -->
    <label for="texto-encriptado">Texto encriptado</label>
    <input id="texto-encriptado" type="text" placeholder="El texto encriptado aparecerá aquí..." readonly>


</div>