<!-- Menú lateral -->
<app-menu></app-menu>


<!-- Contenido -->
<div class="content">

    <!-- Ingresar texto -->
    <label for="texto">Ingresar texto</label>
    <input id="texto" name="texto" type="text" placeholder="Escribe aquí..." [(ngModel)]="texto"/>
    <p class="error" *ngIf="errorTextoVacio">
      El texto no puede estar vacío. </p>
    <!-- Botón Encriptar -->
    <button id="btn-encriptar" (click)="encriptar()">Encriptar</button>

    <!-- Key 
    <label for="key">Key</label>
    <input id="key" type="text" placeholder="La clave aparecerá aquí..." readonly>
    -->

    <!-- Texto encriptado -->
    <label for="texto-encriptado">Texto encriptado</label>
    <input id="texto-encriptado" name="textoEncriptado" type="text" placeholder="El texto encriptado aparecerá aquí..." [(ngModel)]="textoEncriptado" readonly>
    <button class="btn btn-primary mt-2" (click)="copiarTexto()">
    Copiar texto
    </button>
    

</div>