<!-- Menú lateral -->
<div class="sidebar">
    <h2>Menú</h2>
    <a routerLink="/home">Home</a>
    <a routerLink="/encriptar">Encriptar</a>
    <a routerLink="/desencriptar">Desencriptar</a>
    <a href="#">Cerrar sesión</a>
</div>

<!-- Contenido principal -->
<div class="content">

    <!-- Ingresar Key 
    <label for="key">Ingresar Key</label>
    <input id="key" type="text" placeholder="Escribe tu key...">
    --> 

    <!-- Texto encriptado -->
    <label for="texto-encriptado">Texto encriptado</label>
    <input id="texto-encriptado" name="textoEncriptado" type="text" placeholder="Ingresa texto encriptado..." [(ngModel)]="textoEncriptado">
    <p class="error" *ngIf="errorLongitud">
      El texto encriptado debe tener al menos {{MIN_CARACTERES}} caracteres. </p>
    <!-- Botón -->
    <button class="btn" (click)="desencriptar()">Desencriptar</button>

    <!-- Texto plano -->
    <label for="texto-plano">Texto plano</label>
    <input id="texto-plano" name="textoPlano" type="text" placeholder="Aquí aparecerá el texto plano..." [(ngModel)]="textoPlano" readonly>

</div>
