.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #00008B; 
}

.login-card {
  width: 100%;
  max-width: 380px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #444;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #2563eb;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1d4ed8;
}

.extras {
  margin-top: 20px;
  text-align: center;
}

.no-cuenta {
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
}

.btn-crear {
  background: transparent;
  border: 1px solid #0057e7;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  color: #0057e7;
  transition: 0.2s;
}

.btn-crear:hover {
  background: #0057e7;
  color: white;
}

