body {
    margin: 0;
    height: 100vh;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: row;
    /* Cambiamos a fila para tener menú lateral */
    background: #f4f6f8;
}

/* Menú lateral */
.sidebar {
    width: 250px;
    background: #1f2c34;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    position: fixed;
    /* Mantener fijo mientras se desplaza el contenido */
    height: 100vh;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.8rem;
    letter-spacing: 1px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    padding: 12px 15px;
    margin: 5px 0;
    border-radius: 5px;
    transition: background 0.3s;
    font-size: 1.2rem;
}

.sidebar a:hover {
    background: #3a4b57;
}

/* Contenido principal */
.content {
    margin-left: 270px;
    /* Espacio para el menú lateral */
    padding: 40px;
    flex: 1;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 700;
    margin-top: 90px;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

p {
    text-align: left;
    margin-left: 160px;
    font-size: 1.6rem;
    line-height: 1.3;
    color: black;
    max-width: 70%;
    margin-top: 60px;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}